*{
    box-sizing: border-box;
}

#bg{
    background-color: #ffc0cb;
}

.centered{
    text-align: center;
}

.lettrine{
    font-size: 3em;
}

.automargin{
    margin: auto;
}

#lightdot{
    border: green 3px dotted;
    width: 30vw;
}

#dashed{
    border: 5px darkblue dashed ;
    width: 30vw;
}


#table {
    border: 4px solid white;
}

#container {
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
}
#box {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
}